body{background-color: brown;}
h1{background-color: rgb(95, 42, 165);}
h2{background-color: rgb(95, 42, 165);}
p{background-color: rgb(95, 42, 165);}
ol{list-style-type: upper-roman ;}
ul{list-style-type: circle;}